In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('C:/Users/Propietario/Desktop/Jupyter/Applied Plotting/SemanaSanta.csv')
df.head()

,A�o,N�mero de visitantes,Unnamed: 2
0,2016,"1,740,694",NaN
1,2017,"2,170,321",NaN
2,2018,"2,253,316",NaN
3,2019,"2,463,020",NaN
4,2020,0,*Destinos tur�sticos cerrados por pandemia del...